* {
    margin: 0;
    padding: 0;
   font-family: Arial, Helvetica, sans-serif;
    list-style: none;
}

header {
    background-color: rgb(191, 208, 209);
    padding: 15px;
    display: flex;
    justify-content: space-around; /*Alinhamento horizontal*/
    align-items: center; /*Alinhamento vertical*/
}

header img {
    width: 100px;
    height: auto;
}

header nav ul {
    display: flex;
}

header nav ul li {
    list-style: none;
    margin-right: 10px;
}

header nav ul li a {
   text-decoration: none;
   color: rgb(0, 0, 0);
}

/*Aplicando o efeito ao passar o Mouse das listas*/
header nav ul li a:hover{
color: white;
transition: 0.6s;
}

/* chamamos a primeira sessão dentro html para estilização */
.section-01 {
    padding: 300px;
    background-image: url(imagem/mountains-615428_1280.jpg);
    display: flex;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    justify-content: center;
    align-items: center;
}

.section-01 button {
    width: 150px;
    height: 40px;
    background-color: transparent;
    border-radius: 13px;
    color: #f1efef;
    font-weight: 300;
}

/* Hover permite que o elemento a qual está trabalhando tem alguna ação para uma mudança melhor/ Trabalhamos nos efeitos do botão */
.section-01 button:hover { /*Aplicando o efeito ao passar o Mouse*/
background-color: rgb(167, 175, 143);
transition: 0.8s;
color: black;
cursor: pointer;
}

.section-02 {
    padding: 250px;
    background-color: rgb(217, 223, 223);
    display: flex;
    justify-content: space-evenly;
}

.section-02 img {
    width: 200px;
    height: auto;
}

/*Aplicando o efeito ao passar o Mouse*/
.section-02 img:hover {
width: 210px;
transition: 0.6s;
cursor: pointer; /*Se tiver um link incima da imagem*/
}

.section-02 h2 {
    font-size: 30px;
    color: black;
    margin: 15px;
    font-weight: 600;
}

.section-02 p {
    color: black;
    margin: 20px;
    font-size: 15px ;
    font-weight: 300;
}

.section-03 {
    padding: 300px;
    background-image: url(imagem/children-1807511_1280.jpg);
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.section-03 h2 {
    font-size: 30px;
    color: white;
    margin: 15px;
    font-weight: 600;
}

.section-03 p {
    color: white;
    margin: 20px;
    font-size: 15px;
    font-weight: 300;
}


/* Chamamos os icones(instagram, xtweeter, whatsapp etc.) para estilizar */
header i {  /*Estilização icone*/
    color:black; /*Cor do icone*/
    font-size: 40px; /*Tamanho do icone*/
    background-color: rgba(255, 255, 255, 0.664); /*Cor de fundo do elemento*/
    padding: 20px; /*Respiro/preenchimento da cor de fundo*/
    border-radius: 10px; /*Arredondamento da caixa*/
}

header i:hover { /*Aplicando o efeito ao passar o Mouse*/
    background-color: rgb(178, 109, 241); /*Cor de fundo alterado*/
    transition: 0.6s; /*Transição do elemento*/
}

/* ESTILIZAÇÃO TELA 2 */
.section-tela2 {
    background-image: url(imagem/children-1807511_1280.jpg);
    padding: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.section-tela2 p {
    font-size: 40px;
    color: white;
    font-weight: 500;
}

.section-tela2 span {
    color: rgb(212, 169, 153);
    font-weight: 600;
}

.section-nova {
    padding: 200px ;
   background: linear-gradient(180deg, #494744 8.33%, #b49c68 100%);
}

.section-actual {
    padding: 200px;
    background-color: rgba(148, 136, 136, 0.527);
}
  /* Div pai dentro dele tem 3 caixa */
.div-pai {
    display: flex; /*Tornando os itens flex, deixando as caixas lado a lado*/
    justify-content: center; /*Justificando os itens ao centro*/
    margin-bottom: 20px;
}

/* Estilização das caixas (Div flho) */
.div-pai div {
    width: 150px; /*Largura da caixa*/
    height: 200px;/*Altura da caixa*/
    background-image: url(imagem/woman-6540891_1280.jpg); /*Cor de fundo da caixa*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 20px; /*Espaçamento entre as caixas(Div)*/

} 

.div-pai .div-filho1 {
    background-image: url(imagem/man-1866572_1280.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;    
}
/* Estilização do efeitos(Hover) na cada div filho1 */
.div-filho1:hover {
    width: 210px; /*largura do efeito da imagem*/
    height: 290px; /*Altura do efeito da imagem*/
    cursor: pointer;
    transition: 0.7s;
    border-radius: 30px;  
}

.div-pai .div-filho2 {
    background-image: url(imagem/man-4568761_1280.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Estilização do efeitos(Hover) na cada div filho2 */
.div-filho2:hover {
    width: 210px; /*largura do efeito da imagem*/
    height: 290px; /*Altura do efeito da imagem*/
    cursor: pointer;
    transition: 0.7s;
    border-radius: 20px; 
}

.div-pai .div-filho3 {
    background-image: url(imagem/man-5693573_1280.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
} 
/* Estilização do efeitos(Hover) na cada div filho3 */
.div-filho3:hover {
    width: 210px; /*largura do efeito da imagem*/
    height: 290px; /*Altura do efeito da imagem*/
    cursor: pointer;
    transition: 0.7s;
    border-radius: 20px;   
}


.div-pai2 {
  display: flex; 
  justify-content: center; 
}

.div-pai2 .div-filho-01 {
    background-image: url(imagem/woman-6540891_1280.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
/* Estilização do efeitos(Hover) na cada div filho-01 */
.div-filho-01:hover {
    width: 210px; /*largura do efeito da imagem*/
    height: 290px; /*Altura do efeito da imagem*/
    cursor: pointer;
    transition: 0.7s;
    border-radius: 20px;
}

.div-pai2 .div-filho-02 {
    background-image: url(imagem/woman-2233820_1280.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
/* Estilização do efeitos(Hover) na cada div filho-02 */
.div-filho-02:hover {
    width: 210px; /*largura do efeito da imagem*/
    height: 290px; /*Altura do efeito da imagem*/
    cursor: pointer;
    transition: 0.7s;
    border-radius: 20px;  
}
.div-pai2 .div-filho-03 {
    background-image: url(imagem/ai-generated-8594039_1280.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
/* Estilização do efeitos(Hover) na cada div filho-03 */
.div-filho-03:hover {
    width: 210px;
    height: 290px;
    cursor: pointer;
    transition: 0.7s;
    border-radius: 20px;  
}

.div-pai2 div {
    width: 150px; /*Largura da caixa*/
    height: 200px;/*Altura da caixa*/
    background-color: rgb(211, 186, 140); /*Cor de fundo da caixa*/
    margin-right: 20px; /*Espaçamento entre as caixas(Div)*/
}  

.section-actual {
    padding: 200px;
    background-color: rgba(185, 218, 238, 0.315);
    display: flex;
    justify-content: space-evenly;

}

.div-titulo h2 {
    color: black;
    margin: 20px;
    font-size: 25px;
}

.div-titulo p {
    color: black;
    margin: 20px;
    font-size: 20px;
    font-weight: 400;
}

.div-iframe iframe {
 border-radius: 10px;
 margin right: 30px;
}




/* Trabalhamos na estilização da rodapé  da primeira página*/


footer {
    background-color: #acaba9eb;
    padding: 70px;
}
footer {
   display: flex;
   justify-content: space-evenly;
   align-items: center;
}

.div-line1 img {
    width: 100px;
}
.div-line1 hr {
    color:black;
    width: 100px;
    height: 2px;
    margin-top: 10px;
}

.div-line2 h2 {
    color: black;
    font-size: 30px;
    margin-bottom: 20px;
}

.div-line2 a {
    text-decoration: none;
    color: white;
}
.div-line2 a i {
    background-color: darkslategray;
    font-size: 30px;
    padding: 7px;
    border-radius: 10px;
}

.div-line2 i:hover {
    background-color: rgba(169, 169, 169, 0.495);
    transition: 1s;
}
 
/* Trabalhamos na transição de uma página a outra */
html {
    scroll-behavior: smooth;
}


